.Home {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: calc(100vh - 16vh);
  background: url(../../img/bg.jpg) center;
  background-size: cover;

  &__greeting {
    margin: 19.3vh 1.7vw 0 0;
    text-align: right;
  }

  &__title {
    font-weight: 700;
    font-size: 4.6vh;
    line-height: 6vh;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: #fdd000;
  }

  &__description {
    width: 28.3vw;
    height: 13.3vh;
    font-weight: 300;
    font-size: 2.8vh;
    line-height: 3.7vh;
    letter-spacing: 0.6px;
    color: #dfdfdf;
  }
}
