.Nav {
  font-weight: 500;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5vh;
    line-height: 30px;
    letter-spacing: 0.56px;
    color: #3d3d3d;
    padding: 3.2vh;

    &--active {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 1vh;
        right: calc(50% - 1.3vh);
        width: 1.3vh;
        height: 1.3vh;
        border-radius: 50%;
        background-color: #fdd000;
      }
    }
  }
}
